# Import and sandbox

In [1]:
import numpy as np
import pandas as pd
import torch 
from tqdm import tqdm
import matplotlib.pyplot as plt

# check n_wells

## Imports

In [2]:
df_phenom = pd.read_parquet('/projects/synsight/data/jump_embeddings/wells_embeddings/openphenom/metadata_openphenom.parquet')

In [3]:
df_phenom.drop(columns=['Metadata_Well', 'Metadata_JCP2022', 'Metadata_InChI'], inplace=True)

In [4]:
df_phenom = df_phenom.drop_duplicates()

In [5]:
import pandas as pd

# Charger vos données
# df_phenom = pd.read_csv("votre_fichier.csv") # Si nécessaire

# Calculer le nombre maximum de lignes que l'on peut équilibrer
min_samples_per_source = df_phenom.groupby('Metadata_Source').size().min()

# Échantillonner de façon équilibrée entre les sources et diversifiée sur les batches
balanced_sample = df_phenom.groupby('Metadata_Source').apply(
    lambda group: group.groupby('Metadata_Batch').apply(
        lambda batch: batch.sample(n=min(len(batch), min_samples_per_source // len(group['Metadata_Batch'].unique())))
    ).reset_index(drop=True)
).reset_index(drop=True)

/tmp/ipykernel_596226/3905330124.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  lambda group: group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_596226/3905330124.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  lambda group: group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_596226/3905330124.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  lambda group: group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_596226/3905330124.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  lambda group: group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_596226/3905330124.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  lambda group: group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_596226/3905330124.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  lambda group: group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_596226/3905330124.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  lambda group: group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_596226/3905330124.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  lambda group: group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_596226/3905330124.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  lambda group: group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_596226/3905330124.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  balanced_sample = df_phenom.groupby('Metadata_Source').apply(

In [6]:
balanced_sample

    Metadata_Source   Metadata_Batch Metadata_Plate
0          source_1  Batch1_20221004       UL001655
1          source_1  Batch1_20221004       UL001643
2          source_1  Batch1_20221004       UL001651
3          source_1  Batch1_20221004       UL001641
4          source_1  Batch1_20221004       UL001653
..              ...              ...            ...
383        source_9   20211102-Run15     GR00004396
384        source_9   20211103-Run16     GR00004413
385        source_9   20211103-Run16     GR00004421
386        source_9   20211103-Run16     GR00004419
387        source_9   20211103-Run16     GR00004411

[388 rows x 3 columns]

In [21]:
import pandas as pd

# Charger vos données
# df_phenom = pd.read_csv("votre_fichier.csv")  # Charger votre DataFrame si nécessaire

# Calculer le nombre maximum de lignes que l'on peut équilibrer par source
min_samples_per_source = df_phenom.groupby('Metadata_Source').size().min()

# Fonction pour échantillonner de manière diversifiée
def balanced_sampling(group, n_samples):
    unique_batches = group['Metadata_Batch'].unique()
    n_batches = len(unique_batches)
    batch_sample_size = max(1, n_samples // n_batches)
    
    sampled = group.groupby('Metadata_Batch').apply(
        lambda batch: batch.sample(min(len(batch), batch_sample_size))
    ).reset_index(drop=True)
    return sampled.head(n_samples)  # Limiter au total nécessaire

# Appliquer l'échantillonnage équilibré
balanced_sample = df_phenom.groupby('Metadata_Source').apply(
    lambda group: balanced_sampling(group, min_samples_per_source)
).reset_index(drop=True)

# Supprimer les doublons (pour vérifier s'il y en avait)
balanced_sample = balanced_sample.drop_duplicates()

# Résultat
print(balanced_sample.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Metadata_Source  388 non-null    object
 1   Metadata_Batch   388 non-null    object
 2   Metadata_Plate   388 non-null    object
dtypes: object(3)
memory usage: 9.2+ KB
None

/tmp/ipykernel_320105/3054499886.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_320105/3054499886.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_320105/3054499886.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_320105/3054499886.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_320105/3054499886.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_320105/3054499886.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_320105/3054499886.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_320105/3054499886.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_320105/3054499886.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = group.groupby('Metadata_Batch').apply(
/tmp/ipykernel_320105/3054499886.py:21: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  balanced_sample = df_phenom.groupby('Metadata_Source').apply(

In [22]:
balanced_sample

    Metadata_Source   Metadata_Batch Metadata_Plate
0          source_1  Batch1_20221004       UL001653
1          source_1  Batch1_20221004       UL001643
2          source_1  Batch1_20221004       UL001645
3          source_1  Batch1_20221004       UL001651
4          source_1  Batch1_20221004       UL001655
..              ...              ...            ...
383        source_9   20211102-Run15     GR00004391
384        source_9   20211103-Run16     GR00004414
385        source_9   20211103-Run16     GR00004411
386        source_9   20211103-Run16     GR00004418
387        source_9   20211103-Run16     GR00004417

[388 rows x 3 columns]

In [24]:
import pandas as pd

# Calculer le nombre maximum de plaques échantillonnées uniformément
min_samples_per_source = df_phenom.groupby('Metadata_Source').size().min()

# Échantillonner un nombre fixe de plaques par source
balanced_sample = df_phenom.groupby('Metadata_Source').apply(
    lambda group: group.sample(n=min_samples_per_source, random_state=42)  # Fixer un seed pour reproductibilité
).reset_index(drop=True)

# Résultat final
print(balanced_sample['Metadata_Source'].value_counts())

Metadata_Source
source_1     51
source_10    51
source_11    51
source_2     51
source_3     51
source_5     51
source_6     51
source_8     51
source_9     51
Name: count, dtype: int64

/tmp/ipykernel_320105/3147042607.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  balanced_sample = df_phenom.groupby('Metadata_Source').apply(

In [7]:
balanced_sample['Metadata_Source'].value_counts()

Metadata_Source
source_10    51
source_11    50
source_8     48
source_1     45
source_9     44
source_3     39
source_2     39
source_6     39
source_5     33
Name: count, dtype: int64

In [8]:
balanced_sample

    Metadata_Source   Metadata_Batch Metadata_Plate
0          source_1  Batch1_20221004       UL001655
1          source_1  Batch1_20221004       UL001643
2          source_1  Batch1_20221004       UL001651
3          source_1  Batch1_20221004       UL001641
4          source_1  Batch1_20221004       UL001653
..              ...              ...            ...
383        source_9   20211102-Run15     GR00004396
384        source_9   20211103-Run16     GR00004413
385        source_9   20211103-Run16     GR00004421
386        source_9   20211103-Run16     GR00004419
387        source_9   20211103-Run16     GR00004411

[388 rows x 3 columns]

In [10]:
balanced_sample.to_json("balanced_plates.json", orient="records")

In [31]:
imported_plates

['UL000087',
 'UL001653',
 'UL001781',
 'UL001713',
 'UL001649',
 'UL001793',
 'UL000081',
 'UL001645',
 'UL000093',
 'UL001799',
 'UL001795',
 'UL001769',
 'UL001647',
 'UL001791',
 'UL001785',
 'UL001789',
 'UL001719',
 'UL000579',
 'UL000089',
 'UL001673',
 'UL001765',
 'UL000095',
 'UL000583',
 'UL000083',
 'UL000091',
 'UL001675',
 'UL000599',
 'UL000595',
 'UL001783',
 'UL000593',
 'UL001771',
 'UL001717',
 'UL001677',
 'UL001651',
 'UL000577',
 'UL000585',
 'UL001669',
 'UL001641',
 'UL000597',
 'UL000587',
 'UL001665',
 'UL000581',
 'UL001643',
 'UL001773',
 'UL001797',
 'UL001655',
 'UL001679',
 'UL001667',
 'UL001787',
 'UL000097',
 'UL001671',
 'Dest210803-160838',
 'Dest210707-094057',
 'Dest210823-175531',
 'Dest210726-161801',
 'Dest210823-180215',
 'Dest210823-173115',
 'Dest210810-174829',
 'Dest210705-143133',
 'Dest210621-134650',
 'Dest210803-154444',
 'Dest210615-151512',
 'Dest210621-132542',
 'Dest210621-133202',
 'Dest210705-143821',
 'Dest210727-155549',
 'Dest210803-160041',
 'Dest210809-135020',
 'Dest210823-180533',
 'Dest210614-165222',
 'Dest210809-135156',
 'Dest210809-141104',
 'Dest210608-153234',
 'Dest210803-160527',
 'Dest210810-180316',
 'Dest210622-144945',
 'Dest210726-162150',
 'Dest210727-154427',
 'Dest210823-173306',
 'Dest210614-164243',
 'Dest210601-155234',
 'Dest210823-175219',
 'Dest210809-134845',
 'Dest210614-163756',
 'Dest210727-155725',
 'Dest210726-160506',
 'Dest210601-155722',
 'Dest210803-154754',
 'Dest210607-140601',
 'Dest210614-164418',
 'Dest210727-154746',
 'Dest210621-133338',
 'Dest210607-135106',
 'Dest210823-181327',
 'Dest210622-143628',
 'Dest210726-163005',
 'Dest210622-144809',
 'Dest210726-160820',
 'Dest210615-153001',
 'Dest210726-163321',
 'Dest210726-162828',
 'Dest210622-143006',
 'EC000039',
 'EC000104',
 'EC000015',
 'EC000147',
 'EC000059',
 'EC000048',
 'EC000148',
 'EC000122',
 'EC000063',
 'EC000149',
 'EC000082',
 'EC000031',
 'EC000094',
 'EC000119',
 'EC000050',
 'EC000130',
 'EC000121',
 'EC000055',
 'EC000141',
 'EC000008',
 'EC000057',
 'EC000067',
 'EC000098',
 'EC000160',
 'EC000053',
 'EC000026',
 'EC000120',
 'EC000017',
 'EC000144',
 'EC000123',
 'EC000001',
 'EC000087',
 'EC000009',
 'EC133-171DMSO1',
 'EC000002',
 'EC000019',
 'EC000125',
 'EC000158',
 'EC000100',
 'EC000043',
 'EC000135',
 'EC000132',
 'EC000134',
 'EC000151',
 'EC000076',
 'EC000166',
 'EC000013',
 'EC000047',
 'EC000092',
 'EC000037',
 'EC000052',
 '1086293522',
 '1086292747',
 '1086293454',
 '1086292068',
 '1053599695',
 '1086290484',
 '1053601879',
 '1053600728',
 '1086294017',
 '1086293478',
 '1053600803',
 '1086292310',
 '1053597950',
 '1086293225',
 '1086290521',
 '1086292402',
 '1086292280',
 '1086293850',
 '1053599558',
 '1086292020',
 '1086293201',
 '1086293195',
 '1086292464',
 '1053599633',
 '1053600896',
 '1086292754',
 '1086293430',
 '1086293126',
 '1086293232',
 '1086289730',
 '1053597943',
 '1053600889',
 '1086293089',
 '1053600858',
 '1086292372',
 '1086292358',
 '1086293171',
 '1053597844',
 '1086292105',
 '1086292433',
 '1086292143',
 '1086292723',
 '1053598001',
 '1053600742',
 '1086292891',
 '1053600827',
 '1086289778',
 '1053601787',
 '1086293997',
 '1053601756',
 '1053600759',
 'B040203d',
 'BAY5871c',
 'A12069bW',
 'BAY5870d',
 'B40503cW',
 'BR5875b3',
 'SP32P35a',
 'BAY5874b',
 'J12436A',
 'SP09P12c',
 'J12455a',
 'A12079bW',
 'SP05P08c',
 'B40003bW',
 'BAY5871d',
 'SP32P35c',
 'B040203b',
 'J12450b',
 'SP13P16b',
 'SP05P08d',
 'J12446c',
 'BAY5872c',
 'SP36P38c',
 'BAY5870b',
 'SP24P27b',
 'J12436c',
 'BAY5875d',
 'BR5873b3',
 'BAY5871b',
 'BR5871c3',
 'B40703dW',
 'BAY5870a',
 'BAY5868d',
 'BR5870c3',
 'J12436d',
 'B40803cW',
 'BAY5872a',
 'BAY5873b',
 'B40703cW',
 'P24P27cW',
 'SP28P31a',
 'BAY5875a',
 'BR5869a3',
 'A12069dW',
 'BR5867c3',
 'B40503dW',
 'A13495dW',
 'J12428b',
 'BAY5869c',
 'BAY5873d',
 'C13495aW',
 'ATSJUM401',
 'AETJUM108',
 'AETJUM116',
 'ATTJUM206',
 'AETJUM101',
 'AEOJUM707',
 'ATSJUM229',
 'AETJUM107',
 'ATSJUM222',
 'AETJUM228',
 'ATSJUM212',
 'ATSJUM108',
 'ATSJUM214',
 'ATSJUM110',
 'ATSJUM502',
 'ATTJUM203',
 'AEOJUM201',
 'AEOJUM303',
 'AETJUM102',
 'ATSJUM405',
 'ATSJUM204',
 'ATSJUM122',
 'ATSJUM224',
 'APTJUM213',
 'APTJUM114',
 'APTJUM117',
 'AETJUM332',
 'APTJUM131',
 'APTJUM120',
 'APTJUM132',
 'AEOJUM605',
 'APTJUM214',
 'APTJUM133',
 'APTJUM422',
 'ATSJUM223',
 'AEOJUM504',
 'ATSJUM121',
 'AEOJUM405',
 'AETJUM121',
 'ATSJUM225',
 'AEOJUM702',
 'AETJUM114',
 'APTJUM129',
 'ATSJUM119',
 'ATSJUM211',
 'AETJUM427',
 'AETJUM224',
 'ATSJUM216',
 'AETJUM105',
 'APTJUM219',
 'ATSJUM125',
 '110000297101',
 '110000297100',
 '110000296350',
 '110000295497',
 '110000295599',
 '110000295611',
 '110000296305',
 '110000296165',
 '110000296689',
 '110000296369',
 '110000294891',
 '110000295571',
 '110000295566',
 '110000293098',
 '110000296300',
 '110000296691',
 '110000295619',
 '110000295613',
 '110000297128',
 '110000293087',
 '110000296302',
 '110000297124',
 '110000295606',
 '110000296358',
 '110000296163',
 '110000295615',
 '110000297131',
 '110000295498',
 '110000297110',
 '110000297111',
 '110000297102',
 '110000296170',
 '110000296386',
 '110000295626',
 '110000295602',
 '110000293097',
 '110000297108',
 '110000296372',
 '110000297133',
 '110000295610',
 '110000294883',
 '110000296337',
 '110000296329',
 '110000295572',
 '110000296168',
 '110000296173',
 '110000296289',
 '110000295573',
 '110000296176',
 '110000295568',
 '110000297106',
 'A1170460',
 'A1170468',
 'A1170499',
 'A1166150',
 'A1170486',
 'A1166165',
 'A1170542',
 'A1170509',
 'A1170407',
 'A1166133',
 'A1166159',
 'A1170470',
 'A1170412',
 'A1170543',
 'A1170453',
 'A1170524',
 'A1170503',
 'A1170397',
 'A1166169',
 'A1166171',
 'A1170491',
 'A1170488',
 'A1166140',
 'A1166136',
 'A1166162',
 'A1170454',
 'A1170480',
 'A1170525',
 'A1166128',
 'A1170501',
 'A1170399',
 'A1170466',
 'A1166172',
 'A1166161',
 'A1170433',
 'A1170392',
 'A1170541',
 'A1170446',
 'A1170494',
 'A1166145',
 'A1170497',
 'A1170403',
 'A1166138',
 'A1166152',
 'A1170448',
 'A1170531',
 'A1166130',
 'A1170485',
 'A1170419',
 'A1170532',
 'A1170440',
 'GR00004417',
 'GR00003303',
 'GR00004408',
 'GR00003339',
 'GR00003391',
 'GR00003332',
 'GR00003307',
 'GR00003382',
 'GR00003331',
 'GR00004411',
 'GR00004367',
 'GR00004414',
 'GR00004410',
 'GR00003413',
 'GR00003296',
 'GR00003287',
 'GR00004383',
 'GR00004401',
 'GR00003341',
 'GR00004398',
 'GR00003285',
 'GR00004374',
 'GR00003306',
 'GR00003386',
 'GR00004412',
 'GR00004382',
 'GR00003280',
 'GR00004368',
 'GR00003289',
 'GR00004420',
 'GR00004389',
 'GR00003318',
 'GR00003297',
 'GR00004393',
 'GR00004400',
 'GR00003281',
 'GR00004405',
 'GR00004391',
 'GR00003381',
 'GR00004407',
 'GR00003390',
 'GR00004415',
 'GR00003384',
 'GR00004369',
 'GR00004379',
 'GR00003342',
 'GR00003412',
 'GR00004416',
 'GR00003338',
 'GR00003316',
 'GR00003309']

In [9]:
balanced_sample['Metadata_Batch'].value_counts()

Metadata_Batch
J3                                        12
J2                                        12
J1                                        12
J4                                        12
Batch5                                    10
                                          ..
JUMPCPE-20210623-Run02_20210624_225846     1
JUMPCPE-20211014-Run36_20211014_223431     1
JUMPCPE-20211007-Run35_20211007_235529     1
JUMPCPE-20211001-Run34_20211003_121618     1
JUMPCPE-20211001-Run33_20211001_152017     1
Name: count, Length: 115, dtype: int64